<!DOCTYPE html>
<html>
  <body style="background-color:#ffeecc;">
    <p><center><img src={{ url_for('static', filename="404.png") }} alt="404" width="400" height="300"></center>
      <center><h1 style="font-size:80px"> OOPS! Page Not Found.</h1>
      <p style="font-size:50px">You must've browsed to a wrong page or something went wrong.
      <p style="font-size:50px"> Let's take you back home:</p>
      <a href="/"><button style="height:50px;width:200px;font-size:30px;background-color:white;color:#336699">Home</button></a></p>
    </body>
  </html>
