<!DOCTYPE html>
<html>
  <body>
    <p><img src="404.png" alt="404" width="400" height="300">
      <center><h1 style="font-size:80px"> OOPS! Page Not Found.</h1>
      <p style="font-size:50px">You must've browsed to a wrong page or something went wrong.
      <p style="font-size:50px"> Let's direct you to the right page:</p>
      <p><center><a href="Menu.html"><button style="height:50px;width:200px;font-size:30px;background-color:white;color:#336699">Menu</button></a>
      <a href="MainPage.html"><button style="height:50px;width:200px;font-size:30px;background-color:white;color:#336699">Home</button></a></p>
    </body>
  </html>
