<!DOCTYPE html>
<html>
  <body style="background-color:#ffeecc;">
    <left-align><a href="MainPage.html"><img src="foodtruck.png" alt="foodtruck" width="300" height="300"></a>
      <center><h1 style="color:#336699;font-family:Garamond;font-size:60px">Create New Meal</h1></center>
      <p><h1>Meal:
        <input type="textbox" style="width:300px;height:40px;font-size:20px"></p>
        <h1>Meal Type:
          <select style="width:300px;height:40px;font-size:20px">
          <option value="Choose">Choose</option>
          <option >Vegan</option>
          <option value="Meal Type 2">Halal</option>
          <option value="Meal Type 3">Kosher</option>
          <option value="Meal Type 4">Other</option>
          </select></h1>
          <p><h1>Available Number:
            <input type="textbox" style="width:300px;height:40px;font-size:20px"></p>
            <p><h1>Ingredients:</h1>
              <input type="checkbox" style="width:20px;height:20px"> ingredient 1
              <input type="checkbox" style="width:20px;height:20px"> ingredient 2
              <input type="checkbox" style="width:20px;height:20px"> ingredient 3 </p>
              <p><center><a href="Menu.html"><button style="height:50px;width:200px;font-size:30px;background-color:white;color:#336699">Menu</button></a>
              <a href="SearchMeals.html"><button style="height:50px;width:200px;font-size:30px;background-color:white;color:#336699">Create</button></a></p>
    </body>
  </html>
