<!DOCTYPE html>
<html>
   <head>
      <script>

      </script>
   </head>
   <body style="background-color:#ffeecc;">
      <left-align><a href="/"><img src={{ url_for('static', filename="foodtruck.png") }} alt="foodtruck" width="300" height="300"></a>
      <center><h1 style="color:#336699;font-family:Garamond;font-size:60px">Food Truck Information</h1></center>
      <p style="font-size=40px">
      <h1 style="font-size=40px">Truck Name: {{ name }}
      <h1 style="font-size=40px">Location:
      <input type="textbox" style="width:300px;height:40px;font-size:20px"></p></h1>
      <!-- <center><label>Location: <input name="location"></label></center> -->
      </p>
      <h1 style="font-size=40px">Phone Number:
      <input type="textbox" style="width:300px;height:40px;font-size:20px"></p></h1>
      <center><a href="/{{ name }}/menu"><button style="height:40px;width:80px;font-size:20px;background-color:white;color:#336699" type="submit">Menu</button></a></center>
   </body>
</html>
