<!DOCTYPE html>
<html>
  <body style="background-color:#ffeecc;">
    <left-align><a href="MainPage.html"><img src="foodtruck.png" alt="foodtruck" width="300" height="300"></a>
      <center><h1 style="color:#336699;font-family:Garamond;font-size:60px">List of Food Trucks</h1></center>
      <p style="border:3px; border-style:solid; border-color:#336699"><h1 style="font-size=40px">Truck: </h1>
      <h1 style="font-size=40px">Location: </h1>
      <h1 style="font-size=40px">Phone Number: </h1></p>

      <!-- Feel free to remove the one below, i just added it to see how it looks -->
      <p style="border:3px; border-style:solid; border-color:#336699"><h1 style="font-size=40px">Truck: </h1>
      <h1 style="font-size=40px">Location: </h1>
      <h1 style="font-size=40px">Phone Number: </h1></p>

      <center><a href="Menu.html"><button style="height:40px;width:80px;font-size:20px;background-color:white;color:#336699" type="submit">Menu</button></a></center>
    </body>
  </html>
