<!DOCTYPE html>
<html>
  <body style="background-color:#ffeecc;">
    <center><img src={{ url_for('static', filename="foodtruck.png") }} alt="foodtruck" width="400" height="400">
    <h1 style="color:#336699;font-family:Garamond;font-size:60px"> <center>Select Food Truck: </h1>
      <center>
      {% for name in truckNames %}
         <a href="/{{ name[0] }}"><button style="height:50px;width:200px;font-size:30px;font-family:Garamond;background-color:white;color:#336699">{{ name[0] }}</button></a>
      {% endfor %}
      </center>
  </body>
</html>
