<!DOCTYPE html>
<html>
  <body style="background-color:#ffeecc;">
    <left-align><a href="MainPage.html"><img src="foodtruck.png" alt="foodtruck" width="300" height="300"></a>
      <center><h1 style="color:#336699;font-family:Garamond;font-size:60px">Meal Information</h1></center>
      <p><h1>Select Meal:
        <select style="width:300px;height:40px;font-size:20px">
        <option value="Choose">Choose</option>
        <option >Burger</option>
        <option value="Enter Meal 2">Veggie Burger</option>
        <option value="Enter Meal 3">Fries</option>
        <option value="Enter Meal 3">Salad</option>
        </select></h1></p>
      <h1 style="font-size=40px">Meal Type: </h1>
      <h1 style="font-size=40px">Available Number: </h1>
      <h1 style="font-size=40px">Ingredients: </h1>
      <center><a href="Menu.html"><button style="height:40px;width:80px;font-size:20px;background-color:white;color:#336699" type="submit">Menu</button></a></center>
    </body>
  </html>
