<!DOCTYPE html>
<html>
  <body style="background-color:#ffeecc;">
    <left-align><a href="/"><img src={{ url_for('static', filename="foodtruck.png") }} alt="foodtruck" width="300" height="300"></a></left-align>
    <center><h1 style="color:#336699;font-family:Garamond;font-size:60px">Menu</h1></center>
    <center><a href="/{{ name }}"><button style="height:70px;width:350px;font-size:30px;background-color:white;color:#336699">Food Truck Information</button></a>
    <a href="/{{ name }}/create_meal"><button style="height:70px;width:300px;font-size:30px;background-color:white;color:#336699">Create New Meal</button></a>
    <a href="/{{ name }}/meal_info/def"><button style="height:70px;width:300px;font-size:30px;background-color:white;color:#336699">Meal Information</button></a>
    <a href="/{{ name }}/ingredients"><button style="height:70px;width:300px;font-size:30px;background-color:white;color:#336699">Ingredient List</button></a></center>
    <p><center><a href="/{{ name }}/fleet"><button style="height:70px;width:300px;font-size:30px;background-color:white;color:#336699">List of Food Trucks</button></a>
    <a href="/{{ name }}/search"><button style="height:70px;width:300px;font-size:30px;background-color:white;color:#336699">Search Meals</button></a>
  </center></p>
  </body>
</html>